<div class="navbar-fixed">
  <nav [ngClass]="navBarClass">
    <div class="nav-wrapper">
      <a href="#" materialize="sideNav" class="button-collapse" [materializeParams]="[{edge:'left'}]" data-activates='slide-out'>
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#whoIam">{{ 'WHO_I_AM' | translate }}</a>
        </li>
        <li>
          <a href="#skills">{{ 'SKILLS' | translate }}</a>
        </li>
        <li>
          <a href="#experience">{{ 'EXPERIENCE' | translate }}</a>
        </li>
        <li>
          <a materialize="dropdown" class="dropdown-trigger" data-activates='language_dropdown'>
            {{currentLanguage | language | translate}}
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<section class="parallax-container">
  <div class="parallax hero-image" materialize="parallax">
    <img src="https://images.unsplash.com/uploads/1413349410189e2a95d2e/39982a21?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf02c9efb3e23856b47c68bb10890f5e&auto=format&fit=crop&w=1050&q=80">
    <div class="hero-text">
      <h1>{{ 'TITLE' | translate }}</h1>
      <p>{{ 'SUBTITLE' | translate }}</p>
    </div>
  </div>
  <div class="card social-button-container center-align">
    <a href="https://www.facebook.com/jdmaldonado06" target="blank" class="btn-floating social-button btn-large facebook">
      <i class="fab fa-facebook-f fa-lg"></i>
    </a>
    <a href="https://www.linkedin.com/in/jdmaldonado06" target="blank" class="btn-floating social-button btn-large linkedIn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
    <a href="https://github.com/jdmaldonado" target="blank" class="btn-floating social-button btn-large github">
      <i class="fab fa-github fa-lg"></i>
    </a>
    <a href="https://twitter.com/jdmaldonado06" target="blank" class="btn-floating social-button btn-large twitter">
      <i class="fab fa-twitter"></i>
    </a>
  </div>
</section>

<div class="divider"></div>

<section id="whoIam" class="section section-wrapper scrollspy">
  <div class="row">
    <div class="col s12 m12 l12 valign-wrapper">
      <h3 class="header">{{ 'WHO_I_AM' | translate }}...</h3>
    </div>
    <div class="col s12 m5">
      <div class="container">
        <img class="materialboxed" width="100%" src="./assets/images/JDMG.jpg">
      </div>
    </div>
    <div class="col s12 m7">
      <ul class="fa-ul container how-i-am-text">
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            {{ 'PRESENTATION_1' | translate:me }}
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            {{ 'PRESENTATION_2' | translate }}
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            {{ 'PRESENTATION_3' | translate }}
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p [innerHTML]="'PRESENTATION_4' | translate:me"></p>
        </li>
      </ul>

    </div>
  </div>
</section>

<div class="divider"></div>

<section id="skills" class="section section-wrapper scrollspy">
  <div class="row">
    <div class="col s12 m8 l9 valign-wrapper">
      <h3 class="header">{{ 'SKILLS' | translate }}...</h3>
    </div>
    <div class="col s12 m4 l3 switch-chart">
      <div class="switch right-align">
        <label>
          <i class="fas fa-chart-bar fa-lg"></i>
          <input type="checkbox" [checked]="showCirclesGraph" (change)="showCirclesGraph = !showCirclesGraph">
          <span class="lever"></span>
          <i class="fas fa-circle-notch fa-lg"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showCirclesGraph">
    <div class="col s12 m6 l6" *ngFor="let skill of skills">
      <div>{{skill.name}}</div>
      <div class="progress hoverable">
        <div class="determinate hoverable" [style.width.%]="skill.current" [style.background-color]="skill.current | statusColor">
          <div class="text-progress">{{skill.current}}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showCirclesGraph">
    <div class="col s6 m2" *ngFor="let skill of skills">
      <div class="progress-wrapper hoverable">
        <round-progress [current]="skill.current" [max]="skill.max" [color]="skill.current | statusColor" [responsive]="true"></round-progress>
        <div class="text">{{skill.current}} %</div>
      </div>
      <div class="center-align">{{skill.name}}</div>
    </div>
  </div>
</section>

<div class="divider"></div>

<section id="experience" class="section section-wrapper scrollspy">
  <div class="row">
    <div class="col s12 m12 l12 valign-wrapper">
      <h3 class="header">{{ 'EXPERIENCE' | translate }}...</h3>
    </div>
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12 m6 l4 container" *ngFor="let job of jobs">
          <div class="card large">
            <div class="card-image center-align">
              <img class="activator center-align" src="./assets/images/companies/{{job.image}}">
            </div>
            <div class="card-content">
              <span class="card-title activator light-green-text">{{job.name}}</span>
              <ul>
                <li *ngFor="let task of job.tasks">
                  <p>{{task | translate}}</p>
                </li>
              </ul>
            </div>
            <div class="card-action">
              <div class="col s10 m10 l10">
                {{job.period.start}} - {{job.period.end || 'CURRENT' | translate }}
              </div>
              <div class="col s2 m2 l2">
                <a href="{{job.link}}" target="blank">
                  <i class="material-icons">link</i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ul id='language_dropdown' class='dropdown-content'>
  <li>
    <a (click)="switchLanguage('es')">{{ 'SPANISH' | translate }}</a>
  </li>
  <li>
    <a (click)="switchLanguage('en')">{{ 'ENGLISH' | translate }}</a>
  </li>
  <li>
    <a (click)="switchLanguage('fr')">{{ 'FRENCH' | translate }}</a>
  </li>
</ul>

<ul id='language_dropdown_sidebar' class='dropdown-content'>
  <li>
    <a (click)="switchLanguage('es')">{{ 'SPANISH' | translate }}</a>
  </li>
  <li>
    <a (click)="switchLanguage('en')">{{ 'ENGLISH' | translate }}</a>
  </li>
  <li>
    <a (click)="switchLanguage('fr')">{{ 'FRENCH' | translate }}</a>
  </li>
</ul>

<ul id="slide-out" class="side-nav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="https://images.unsplash.com/uploads/1413349410189e2a95d2e/39982a21?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cf02c9efb3e23856b47c68bb10890f5e&auto=format&fit=crop&w=1050&q=80">
      </div>
      <a href="#!user">
        <img class="circle" src="./assets/images/JDMG.jpg">
      </a>
      <a>
        <span class="white-text name">Juan D Maldonado</span>
      </a>
      <a>
        <span class="white-text email">maldo.s@hotmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="#whoIam">{{ 'WHO_I_AM' | translate }}</a>
  </li>
  <li>
    <a href="#skills">{{ 'SKILLS' | translate }}</a>
  </li>
  <li>
    <a materialize="dropdown" class="dropdown-trigger" data-activates='language_dropdown_sidebar'>
      {{currentLanguage | language | translate}}
      <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>
</ul>
