<section id="hero-image" class="hero-image">
  <div class="hero-text">
    <h1>Hi I'm Juan D.</h1>
    <p>I'm a Software Developer</p>
  </div>
</section>

<section class="section">
  <div class="row">
    <div class="col s12 m5">
      <div class="container">
        <img class="materialboxed" width="100%" src="./assets/JDMG.jpg">
      </div>
    </div>
    <div class="col s12 m7">
      <ul class="fa-ul container how-i-am-text">
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Hola, Soy Juan David Maldonado, Desarrollador de software Colombiano.
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Amante de los Idiomas, Juegos de mesa, Rompecabezas, Video juegos, Paintball y Viajar. Hablo español (Nativo), Inglés y Francés
            (aún aprendiendo).
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Llevo 6 años desarrollando en diferentes tecnologías FrontEnd y BackEnd, Cuento con experiencia en sectores como Radio, Geoposicionamiento
            satelital, ERP, Aplicaciones Móviles... etc.
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Cofundador de
            <strong>
              <a class="green-text" href="http://www.socialbusiness.com.co" target="blank">Social Business</a>
            </strong>, Amante de la tecnología y los retos, predicador de Javascript y amante de las tecnologías de Google.
          </p>
        </li>
      </ul>

    </div>
  </div>
</section>

<section class="skills-section">
  <div class="row">
    <div class="col s12 m8 l9 valign-wrapper">
        <h4 class="header">Habilidades</h4>
    </div>
    <div class="col s12 m4 l3 switch-chart">
      <div class="switch right-align">
        <label>
          Barras
          <input type="checkbox" [checked]="showCirclesGraph" (change)="showCirclesGraph = !showCirclesGraph">
          <span class="lever"></span>
          Círculos
        </label>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!showCirclesGraph">
    <div class="col s12 m6 l6" *ngFor="let skill of skills">
      <div>{{skill.name}}</div>
      <div class="progress hoverable">
        <div class="determinate hoverable" [style.width.%]="skill.current" [style.background-color]="skill.current | statusColor">
          <div class="text-progress">{{skill.current}}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="showCirclesGraph">
    <div class="col s6 m2" *ngFor="let skill of skills">
      <div class="progress-wrapper hoverable">
        <round-progress [current]="skill.current" [max]="skill.max" [color]="skill.current | statusColor" [responsive]="true"></round-progress>
        <div class="text">{{skill.current}} %</div>
      </div>
      <div class="center-align">{{skill.name}}</div>
    </div>
  </div>
</section>
