<section id="hero-image" class="hero-image">
  <div class="hero-text">
    <h1>Hi I'm Juan D.</h1>
    <p>I'm a Software Developer</p>
  </div>
</section>

<section class="section">
  <div class="row">
    <div class="col s12 m5">
      <div class="container">
        <img class="materialboxed" width="100%" src="./assets/JDMG.jpg">
      </div>
    </div>
    <div class="col s12 m7">
      <ul class="fa-ul container how-i-am-text">
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Hola, Soy Juan David Maldonado, Desarrollador de software Colombiano.
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Amante de los Idiomas, Juegos de mesa, Rompecabezas, Video juegos, Paintball y Viajar.
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Llevo 6 años desarrollando en diferentes tecnologías FrontEnd y BackEnd, Cuento con experiencia en sectores como Radio, Geoposicionamiento
            satelital, ERP, Aplicaciones Móviles... etc.
          </p>
        </li>
        <li>
          <span class="fa-li">
            <i class="fas fa-chess-knight fa-lg li-icon"></i>
          </span>
          <p>
            Cofundador de <strong> <a class="green-text" href="http://www.socialbusiness.com.co" target="blank">Social Business</a> </strong>, Amante de la tecnología y los retos, predicador de Javascript y amante de las tecnologías de Google.
          </p>
        </li>
      </ul>

    </div>
  </div>
</section>
