/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  margin: 0;
}

.section {
  padding-top: 2.5em;
}

p {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 10px;
}

strong {
  color: #8BC34A;
}

.green-text {
  color: #8BC34A;
}

.li-icon {
  color: #8BC34A !important;
}