/* You can add global styles to this file, and also import other style files */

$primary-color: #8BC34A;
body,
html {
  height: 100%;
  margin: 0;
  color: #757575;
}

p {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 10px;
}

strong {
  color: $primary-color;
}

.green-text {
  color: $primary-color;
}

.li-icon {
  color: $primary-color !important;
}

.progress {
  height: 30px !important;
  background-color: rgb(234, 234, 234) !important;
  border-radius: 4px !important;
  text-align: center;
}

.progress .determinate {
  width: 0%;
  border-radius: 4px !important;
  color: #FFF;
  transition: 3s;
  transition-property: width;
}

.progress .determinate:hover {
  width: 100%;
}

.text-progress {
  padding-top: 2px;
}

h3 {
  padding-bottom: 0.5em;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: $primary-color;
}

.side-nav li > a, .side-nav li > span {
  color: $primary-color;
}

.social-button-container > a {
  margin-right: 1em;
}

.navbar-transparent {
  background-color: rgba(0,0,0,0.1);
}

.navbar-color {
  background-color: rgba(0,0,0,0.7);
}

nav ul a {
  color: $primary-color;
}

.card .card-image img {
  width: auto;
  max-height: 180px;
  display: unset;
}

.social-button:hover {
  background-color: $primary-color;
  color: #757575;
}

.facebook {
  background-color: #4360B5;
}

.linkedIn {
  background-color: #0074B8;
}

.github {
  background-color: #323131;
}

.twitter {
  background-color: #009EF6;
}

.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 55%;
}

.card .card-content p {
  line-height: 18px;
  font-size: 17px;
}

@media (max-width: 992px) {
  .card .card-image img {
    width: auto;
    max-height: 130px;
    display: unset;
  }

  .card .card-content p {
    line-height: 18px;
  }

  p {
    line-height: 20px;
    font-size: 17px;
  }
}